body {
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 16px;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

#fronpage {
  background: url(https://images.unsplash.com/photo-1519155852291-4a16a37fe0e5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=56658d1244ea0df86eb39469cfac4ff2&auto=format&fit=crop&w=1868&q=80);
  background-size: cover;
  color: white;
  background-position: center;
  height: 100vh;
  min-height: 450px;
}

html {
  height: 100%;
}

#fronpagehr {
  width: 40%;
  min-width: 250px;
  border-top: 1px solid #F8F8F8;
  border-bottom: 1px solid rgba(0,0,0,2);
}

h1 {
  font-weight: 700;
  font-size: 26;
}

.type {
  color: green;
}

.delete-form {
  display: inline;
}

.action-btn {
  display: inline;
}

#content {
  text-align: center;
  padding-top: 10%;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
}

.thumbnail img {
  object-fit: cover;
  height: 150px;
  width: 100%;
}

.thumbnail {
  padding: 0;
}

#frontpagesearch {
  width: 300px;
  display: inline-flex;
}

.well {
  text-align: center;
}

#frontpageh1 {
  font-size: 5em;
}

.navbar {
  margin-bottom: 0px;
}